.password-policies {
  margin-top: 8px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  background: var(--whiteBackground);
  border-radius: 6px;
}

.password-policies.active {
  opacity: 1;
  padding: 15px;
  height: auto;
  border: 1px solid var(--gray-border);
}

.password-policies > div {
  margin: 8px 0;
  color: var(--gray-placeholder);
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.password-policies > div::before {
  content: "✕";
  color: var(--red);
  margin-right: 8px;
  font-weight: bold;
}

.password-policies > div.active {
  color: var(--emerald-500);
}

.password-policies > div.active::before {
  content: "✓";
  color: var(--emerald-500);
}

.form-group small {
  display: block;
  color: var(--gray-text-light);
  margin-top: 4px;
  font-size: 0.85em;
}

.btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input {
  transition: border-color 0.3s;
}

.form-group.invalid input {
  border-color: var(--red);
}

.form-group.valid input {
  border-color: var(--success-green);
}

.validation-feedback {
  color: var(--red);
  font-size: 0.8em;
  margin-top: 5px;
  display: none;
}

.form-group.invalid .validation-feedback {
  display: block;
}
