header .menu-icon .nav-icon {
  background: #000 !important;
}

header .menu-icon .nav-icon:before,
header .menu-icon .nav-icon:after {
  background: #000 !important;
}

/* Add transparent background only when menu is open */
header .menu-btn:checked~.menu-icon .nav-icon {
  background: transparent !important;
}

header .header-inner .logo {
  content: url(../../images/argo-logo/Argo-black.svg);
}

header .header-inner .menu-container ul li a {
  color: #000 !important;
}

header .header-inner .menu-container ul li a:after {
  background: #000 !important;
}

.account-avatar {
  background-color: white;
  justify-content: center;
  color: #333;
  border: 2px solid #a3a3a3;
  transition: transform 0.2s ease, border-color 0.2s ease;
}

.account-button:hover .account-avatar {
  transform: scale(1.05);
  border-color: #656565;
}

.author-avatar-placeholder {
  background-color: white;
  color: #333;
}

.account-avatar svg {
  stroke: #333;
}