/* Underline current page */
header .header-inner .menu-container .menu .contact-us:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 14px;
  transform-origin: 50% 50%;
  transform: translateX(-50%) scaleX(0);
  width: 90%;
  height: 2px;
  transition: transform 0.2s;
  transform: translateX(-50%) scaleX(1);
}

.first {
  height: 100vh;
  background: #fff;
}

.first .container {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  padding: 30px;
}

.first .container p {
  font-size: 2rem;
  color: #000;
  text-align: center;
}

.first .container p:nth-of-type(2) {
  font-size: 1rem;
  margin-top: 30px;
  position: relative;
}