.link {
  color: var(--blue);
}

.link:hover {
  text-decoration: none;
}

.link-no-underline {
  color: var(--blue);
  text-decoration: none;
}

.link-no-underline:hover {
  text-decoration: underline;
}
